# ----------------------------------------------------------------------
# 全局配置 (GLOBAL CONFIGURATION) 待定，是否需要。
# ----------------------------------------------------------------------
global_context:
  model_type: "qwen2_5_vl"

# ----------------------------------------------------------------------
# 模块定义 (MODULES DEFINITION) - 修正了 YAML 引用和参数格式
# ----------------------------------------------------------------------
pipeline_modules:

  # --- 0. Parameter 模块 ---
  pipeline_params:
    type: "ParameterModule"
    outputs:
      - name: "img1"
        type: "OVTensor"
      - name: "prompts_data"
        type: "String"

  # --- 1. 图像预处理模块 (Image Preprocessing) ---
  image_preprocessor:       # Module Name
    type: "ImagePreprocessModule"
    device: "CPU"
    description: "Image or Video preprocessing."
    inputs:
      - name: "image"     # single image
        type: "OVTensor"        # Support DataType: [OVTensor, OVRemoteTensor]
        source: "pipeline_params.img1"
    outputs:
      - name: "raw_data"        # Output port name
        type: "OVTensor"        # Support DataType: [OVTensor, OVRemoteTensor]
      - name: "source_size"     # Output port name
        type: "VecInt"          # Support DataType: [VecInt]
    params:
      target_resolution: [224, 224]   # optional
      mean: [0.485, 0.456, 0.406]     # optional
      std: [0.229, 0.224, 0.225]      # optional
      model_path: "./ut_pipelines/Qwen2.5-VL-3B-Instruct/INT4/"

  # --- 2. Prompt Encode 模块 ---
  prompt_encoder:
    type: "TextEncoderModule"
    device: "CPU"
    inputs:
      - name: "prompts"
        type: "String"
        source: "pipeline_params.prompts_data"
      - name: "encoded_image"
        type: "OVTensor"
        source: "image_preprocessor.raw_data"
      - name: "source_size"
        type: "VecInt"
        source: "image_preprocessor.source_size"
    outputs:
      - name: "prompt_embedding"
        type: "OVTensor"
      - name: "mask"
        type: "OVTensor"
      - name: "images_sequence"
        type: "VecInt"
    params:
      model_path: "./ut_pipelines/Qwen2.5-VL-3B-Instruct/INT4/"

  # --- 3. Prompt Embedding 模块 ---
  text_embedding:
    type: "TextEmbeddingModule"
    device: "CPU"
    inputs:
      - name: "input_ids"
        type: "OVTensor"
        source: "prompt_encoder.input_ids"
    outputs:
      - name: "input_embedding"
        type: "OVTensor"
    params:
      model_path: "./ut_pipelines/Qwen2.5-VL-3B-Instruct/INT4/"
      scale_emb: "1.0"
  
  # --- 4. Vision Encoder 模块 ---
  vision_encoder:
    type: "VisionEncoderModule"
    device: "CPU"
    inputs:
      - name: "preprocessed_image"
        type: "OVTensor"
        source: "image_preprocessor.raw_data"
      - name: "source_size"
        type: "VecInt"
        source: "image_preprocessor.source_size"
      - name: "images_sequence"
        type: "VecInt"
        source: "prompt_encoder.images_sequence"
    outputs:
      - name: "image_embedding"
        type: "OVTensor"
      - name: "video_embedding"
        type: "OVTensor"
    params:
      model_path: "./ut_pipelines/Qwen2.5-VL-3B-Instruct/INT4/"

  # --- 5. Embedding Merger 模块 ---
  embedding_merger:
    type: "EmbeddingMergerModule"
    device: "CPU"
    inputs:
      - name: "input_ids"
        type: "OVTensor"
        source: "prompt_encoder.input_ids"
      - name: "input_embedding"
        type: "OVTensor"
        source: "text_embedding.input_embedding"
      - name: "image_embedding"
        type: "OVTensor"
        source: "vision_encoder.image_embedding"
      - name: "video_embedding"
        type: "OVTensor"
        source: "vision_encoder.video_embedding"
    outputs:
      - name: "merged_embedding"
        type: "OVTensor"
    params:
      model_path: "./ut_pipelines/Qwen2.5-VL-3B-Instruct/INT4/"

  # --- 2. Result Module ---
  pipeline_result:
    type: "ResultModule"
    description: "Collects final results and formats the output structure."
    device: "CPU"
    inputs:
      - name: "merged_embedding"
        type: "OVTensor"
        source: "embedding_merger.merged_embedding"

    outputs:
      - name: "merged_embedding"
        type: "OVTensor"