# ----------------------------------------------------------------------
# 全局配置 (GLOBAL CONFIGURATION) 待定，是否需要。
# ----------------------------------------------------------------------
global_context:
  default_device: "GPU"
  enable_shared_memory: True
  device_id: "GPU.0"

# ----------------------------------------------------------------------
# 模块定义 (MODULES DEFINITION) - 修正了 YAML 引用和参数格式
# ----------------------------------------------------------------------
pipeline_modules:

  # --- 0. Parameter 模块 ---
  prompts:
    type: "ParameterModule"
    outputs:
      - name: "prompts_data"
        type: "VecString"

  image:
    type: "ParameterModule"
    outputs:
      - name: "image1_data"
        type: "OVTensor"
      - name: "image2_data"
        type: "OVTensor"

  # --- 1. 图像预处理模块 (Image Preprocessing) ---
  image_preprocessor:
    type: "ImagePreprocessModule"
    device: "CPU"
    inputs:
      - name: "image_input_1"
        type: "OVTensor"
        source: "image.image1_data"
      - name: "image_input_2"
        type: "OVTensor"
        source: "image.image2_data"
    outputs:
      - name: "raw_data"
        type: "OVTensor"
      - name: "thw"
        type: "OVTensor"
    params:
      target_resolution: [224, 224]
      mean: [0.485, 0.456, 0.406]
      std: [0.229, 0.224, 0.225]

  # --- 2. Prompt Encode 模块 ---
  prompt_encoder:
    type: "TextEncoderModule"
    device: "GPU"
    inputs:
      - name: "prompts_input"
        type: "VecString"
        source: "prompts.prompts_data"
    outputs:
      - name: "input_ids"
        type: "OVTensor"
      - name: "mask"
        type: "OVTensor"
    params:
      model_path: "/mnt/disk2/Qwen2.5-VL-7B-Instruct-INT4"

  # --- 2. Result Module ---
  pipeline_result:
    type: "ResultModule"
    description: "Collects final results and formats the output structure."
    device: "CPU"
    inputs:
      - name: "raw_data"
        type: "OVTensor"
        source: "image_preprocessor.raw_data"

    outputs:
      - name: "raw_data"
        type: "OVTensor"